@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blur-bg: #f3f5f7;
  --toggle-bg: #e5e7eb;
  --skill-bg: #ffffff;
  --progress-bar: #000000;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --blur-bg: #1a1a1a;
  --toggle-bg: #374151;
  --skill-bg: #3a3a3a;
  --progress-bar: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blur-bg: var(--blur-bg);
  --font-work: var(--font-work-sans);
  --font-noto: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  letter-spacing: -0.05em;
  font-family: var(--font-work-sans), var(--font-noto-sans), sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
